@import "common/foundation/variables";
/* $Wiki_post_background_color: defined as theme setting */
/* $wiki_opacity: defined as theme setting */
/* $wiki_added_text: defined as theme setting */

// 
@if $Wiki_post_background_color == "primary" {
    $Wiki_post_background_color: $primary;
}
@if $Wiki_post_background_color == "secondary" {
    $Wiki_post_background_color: $secondary;
}
@if $Wiki_post_background_color == "tertiary" {
    $Wiki_post_background_color: $tertiary;
}
@if $Wiki_post_background_color == "quaternary" {
    $Wiki_post_background_color: $quaternary;
}
@if $Wiki_post_background_color == "highlight" {
    $Wiki_post_background_color: $highlight;
}
@if $Wiki_post_background_color == "danger" {
    $Wiki_post_background_color: $danger;
}
@if $Wiki_post_background_color == "success" {
    $Wiki_post_background_color: $success;
}
@if $Wiki_post_background_color == "love" {
    $Wiki_post_background_color: $love;
}

@if ($Wiki_post_background_color == ""){
    $Wiki_post_background_color: var(--highlight-low, $highlight-low);
}

@if ($Wiki_opacity == "5%") {
    $Wiki_post_background_color: mix($Wiki_post_background_color, $secondary, 5%);
}
@if ($Wiki_opacity == "10%") {
    $Wiki_post_background_color: mix($Wiki_post_background_color, $secondary, 10%);
}
@if ($Wiki_opacity == "15%") {
    $Wiki_post_background_color: mix($Wiki_post_background_color, $secondary, 15%);
}
@if ($Wiki_opacity == "25%") {
    $Wiki_post_background_color: mix($Wiki_post_background_color, $secondary, 25%);
}
@if ($Wiki_opacity == "35%") {
    $Wiki_post_background_color: mix($Wiki_post_background_color, $secondary, 35%);
}
@if ($Wiki_opacity == "50%") {
    $Wiki_post_background_color: mix($Wiki_post_background_color, $secondary, 50%);
}
@if ($Wiki_opacity == "75%") {
    $Wiki_post_background_color: mix($Wiki_post_background_color, $secondary, 75%);
}

// Apply color and stop animation
.wiki .topic-body .cooked {
    background-color: $Wiki_post_background_color;
    animation: none;
}

// Add Wiki Text
    .post-info.edits .wiki::before {
        content: "#{$Wiki_added_text}";
        margin-right: 5px;
        font-weight: bold;
    }  
